!!! 5
html
	head
		title Welcome to Diesel
	body
		h1 PENIS
		p Dirty and hairiy
		h2 Text and comments
		p <em>OMFG </em> so hyooj
		
		if !user
			h2 Welcome! Please log in.
			a(href="auth/facebook", title="login") Log In
		else
			Hello user.username .
			OH HELLA GRATZ BITCH, YOU LOGGED IN YO~!!!~